#main-header {
    border-bottom: 2px solid #000;
}

#top-stories {
    width: 100px;
    margin: auto;
    margin-top: 20px;
}

article {
    width: 301px;
    display: inline-block;
    border: 1px solid #000;
    padding: 10px;
    margin: 0px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .3);
    transition: box shadow 500ms, background 3s;
}

.site-title {
    display: inline-block;
}

.profile-menu{
    list-style: none;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}

/* .profile-menu a  */
[data-trigger=dropdown-menu]{
    padding-bottom: 35px;
}

.submenu {
    list-style: none;
    padding: 0px;
    border: 1px solid #aaa;
    background: #fff;
    margin-top: 30px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .3);
    width: 300px;
    position: absolute;
    right: 10px;
    display: none;
}

.active {
    display: block;
}

.submenu a {
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    color: #333;
    text-shadow: none;
    font-weight: 600;
    letter-spacing: 0px; 
}

.submenu a:hover{
    background-color: #aaa;
}



.my-input, .my-textarea {
    display: block;
    width: 90%;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #aaa;
    resize: none;

}

section {
    max-width: 100%;
    width: 900%;
    margin: auto;
}

#context{
    display: inline-block;
    position: absolute;
    background: #fff;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .5);
    display: none;
}

.context-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.context-menu a {
    display: block;
    width: 200px;
    padding: 10px;
    color: #333;
    text-decoration: none;
    text-shadow: none;
    font-weight: 600;
}

.context-menu a:hover {
    background: pink;
}

.context-menu a .hidden {
    display: none;
}

.context-menu a .hidden .shown {
    display: block;
}

img {
    width: 500px;
}

.status {
    display: none;
}

/* ------------- INSPIRATION CODEPEN ------------------*/
/* html {
	font-size: 1px;
}

body {
    height: 100%;
    margin: 0;
    background: pink;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.box {
    height: 100vh;
    width: 300px;
    position: absolute;
    left: -350px;
    z-index: 1001;
    background: pink;
    overflow: hidden;
    text-align: left;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}

.active {
    -webkit-transform: translateX(350px);
    -moz-transform: translateX(350px);
    -o-transform: translateX(350px);
    -ms-transform: translateX(350px);
    transform: translateX(350px);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    -moz-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    -webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.open-menu {
    display: inline-block;
}

.open-menu button{
    display: inline;
    z-index: 0;
    background: transparent;
    border: none;
    margin-top: 10px;
    margin-left: 25px;
    padding: 0px;
    cursor: pointer;
}

.open-menu img {
    width: 30px;
    height: 30px;
}

.header-menu {
    height: 50px;
    background: pink;
	margin-bottom: 200px
}

.header-menu button {
    position: relative;
    left: 260px;
    background: transparent;
    border: none;
    margin-top: 10px;
    padding: 0px;
    cursor: pointer;
}

.header-menu img {
    width: 40px;
    height: 40px;
}

.top-menu {
    margin-top: 35px;
}

.top-menu a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16rem;
    display: block;
    line-height: 40px;
    padding-left: 35px;
	 transition: .2s;
}

.bottom-menu {
    position: absolute;
    bottom: 0px;
    width: 300px;
    background: #D32F2F;
    text-align: center;
}

.bottom-menu li {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: black;
    font-weight: 700;
    font-size: 13px;
}

.text {
  	font-size: 70rem;
  	position: absolute;
   top: 50%;
   left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

li {
    list-style-type: none;
    padding: 0px 0px 0px 0px;
}

ul {
    padding: 0px;
    margin: 0px;
}

button:focus {
    outline: none;
}

.twitter:hover {

} */